.feedback {
   padding-bottom: 120px;
}

.feedback-container {
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
   background: #F4F2F2;
   box-shadow: 10px 12px 10px rgba(128, 128, 128, 0.25);
   backdrop-filter: blur(10px);
   height: 480px;
}

.feedback__title {
   text-align: center;
   font-family: 'Montserrat Alternates';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.22;
   color: #2A3B35;
   padding-top: 56px;
}

.feedback__list {
   display: flex;
}

.feedback__item {}

.feedback__img {
   border-radius: 50%;
   width: 132px;
   height: 132px;
}

.feedback__text {
   font-family: 'Montserrat Alternates';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.25;
   color: #2A3B35;
}