.skills {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background-repeat: no-repeat;
   background-position: center;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 833px;
   background-image: url("../image/desktop/thanhy-1x.jpg");
      
   @include retina {
      background-image: url("../image/desktop/thanhy-2x.jpg");
   }
}

.skills-container {
   padding: 40px 158px;
   width: 910px;
   height: 400px;
   background: rgba(255, 255, 255, 0.4);
   box-shadow: 0px 12px 10px rgba(128, 128, 128, 0.1);
   backdrop-filter: blur(10px);
   border-radius: 90px 0 0 90px;
}

.skills__list {
   ////display: flex;
   //align-items: center;
   //gap: 44px;
}

.skills__item {
   display: flex;
   align-items: center;
   gap: 44px;
   //margin-top: 32px;
   //margin-bottom: 22px;

}

.skills__title {
   font-family: 'Montserrat Alternates';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.22;
   color: #42444C;
}

.skills__text {
   font-family: 'Montserrat Alternates';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.25;
   color: #42444C;
}