   $main-color: #ffffff;
   $border-color: #eeeeee;
   $primary-text-color: #212121;
   $title-text-color: #757575;
   $accent-text-color: #2196f3;
   $accent-active: #188ce8;
   $main-font: "Roboto",
      Arial,
      sans-serif;
   $leading-lh: 1.14;
   $card-set-gap: 30px;
   $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   $bg-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));